<form [formGroup]="form" (ngSubmit)="save()">

    <div class="input-container">
        <label for="">¿Has particiádo en Solve For Tomorrow antes?</label> <br>
        <div>Sí<input type="radio" value="true" formControlName="ParticipacionAnterior" (change)="pushYear()"></div>
        <div>No<input type="radio" value="false" formControlName="ParticipacionAnterior" (change)="deleteYear()"></div>

        <br><br>

        {{ParticipacionAnteriorField?.valid}}
        <br><br>
    </div>


    <div class="input-container" *ngIf="showYears">

        <select formControlName="AnnoParticipacionAnteriorField"  multiple (change)="getOptions()">
            <option value="" selected>¿En qué año fue? (Selecciona varias opciones si es necesario)</option>
            <option value="2014">2014</option>
            <option value="2016">2016</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select><br>

        <br><br>

    
        <br><br>
    </div>

    <div class="input-container">
        <label for="">¿Has particiádo en Solve For Tomorrow antes?</label> <br><br>
        <div>Autorizo el tratamiento de mis datos personales conforme a la política de privacidad de Samsung Electronics S.A.<input type="checkbox" value="true" formControlName="ParticipacionAnterior" (change)="pushYear()"></div>
        <br><br><br>
        <div>Acepto los términos y condiciones del consurso Solve for tomorrow.
            (Para inscribir el proyecto exitósamente, el o la docente líder debe leer y aceptar los términos y condiciones haciendo click al finalizar la aplicación. (En el formulario en línea de la página oficial del concurso)<input type="checkbox" value="false" formControlName="ParticipacionAnterior" (change)="deleteYear()"></div>

        <br><br>

        {{ParticipacionAnteriorField?.valid}}
        <br><br>
    </div>

    
<!-- 
    <div class="input-container">
        <label for="">Nombre del equipo</label> <br>
        <input [class.is-valid]="NombreEquipoField?.valid"
            [class.is-invalid]="NombreEquipoField?.invalid && NombreEquipoField?.touched" type="text"
            formControlName="NombreEquipo"><br>
        <small
            *ngIf="NombreEquipoField?.touched  && NombreEquipoField?.hasError('required') && NombreEquipoField?.value == '' ">*
            Campo requerido (*)</small>
        <small *ngIf="NombreEquipoField?.hasError('maxlength')">* El nombre de la instiución debe tener máximo 100
            caracteres.</small>
        <br><br>

        {{NombreEquipoField?.valid}}
        <br><br>
    </div>



    <div class="input-container">
        <label for="">¿Cuántos estudiantes componen el grupo de trabajo?</label> <br>
        <select formControlName="CantEstudiantes" (change)="addStudents()">
            <option value="" selected>Seleccione el número de estudiantes (*)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>

        <br><br>

        {{CantEstudiantesField?.valid}}
        <br><br>
    </div>


    <div formArrayName="Integrantes">
        <div style="border:3px solid black" *ngFor="let integrant of IntegrantesField.controls ; let i = index " [formGroupName]="i">

            <div class="input-container">
                <label for="">Selecciona el grado del estudiante*</label> <br>

                <select formControlName="EstudianteGrado" (change)="test()">
                    <option value="" selected>Grados (*)</option>
                    <option value="8°">8°</option>
                    <option value="9°">9°</option>
                    <option value="10°">10°</option>
                    <option value="11°">11°</option>
                    <option value="12°">12°</option>

                </select><br>

                <br><br>

                {{EstudianteGradoField?.valid}}
                <br><br>
            </div>

            <div class="input-container">
                <label for="">¿Pertenece a algún grupo étnico?</label> <br>
                <div>Sí<input type="radio" value="true"  formControlName="EstudianteGrupoEtnico" (change)="pushEtnicoField(i)" ></div>
                <div>No<input type="radio" value="false"  formControlName="EstudianteGrupoEtnico" (change)="deleteEtnicoField(i)"></div>


                <br><br>

                {{EquipoMixtoField?.valid}}
                <br><br>
            </div>  

            <div class="input-container" *ngIf="showDinamicField[i]">

                <select formControlName="GrupoEtnico" (change)="test()">
                    <option value="" selected>Cual? </option>
                    <option value="Mulata">Mulata</option>
                    <option value="Indígena">Indígena</option>
                    <option value="Gitanos">Gitanos</option>
                    <option value="Rom">Rom</option>
                    <option value="Negritudes">Negritudes</option>
                    <option value="Afrodescendientes">Afrodescendientes</option>
                    <option value="Raizales">Raizales</option>
                    <option value="Palenqueros">Palenqueros</option>

                </select><br>

                <br><br>

                <br><br>
            </div>




        </div>
    </div> -->


    FORMULARIO INVALIDO ? :{{form.invalid}}


    <br><br>
    <button [disabled]="form.invalid" type="submit">Siguiente</button>
</form>